<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Sample Wizards"
            id="org.palladiosimulator.wlcgmodel">
      </category>
      <wizard
            name="Multi-page Editor file"
            icon="icons/sample.png"
            category="org.palladiosimulator.wlcgmodel"
            class="org.palladiosimulator.wlcgmodel.wizards.SampleNewWizard"
            id="org.palladiosimulator.wlcgmodel.wizards.SampleNewWizard">
      </wizard>
      <category
            id="org.palladiosimulator.wlcgmodel.wlcg"
            name="WLCG Simulation Model">
      </category>
      <wizard
            category="org.palladiosimulator.pcmbench.palladio_modeling_category"
            class="org.palladiosimulator.wlcgmodel.wizards.NewWLCGModelWizard"
            icon="icons/sample.png"
            id="org.palladiosimulator.wlcgmodel.wizards.NewWLCGModelWizard"
            name="Calibrated WLCG Model">
      </wizard>
   </extension>

</plugin>
